body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F4C904;
  
}
img{
  height: 100px;
}

button{
  margin-top: 10px;
}
.namePokemon {
  text-transform: capitalize;
}